<%= form_with(model: worlddatum, local: true) do |form| %>
  <% if worlddatum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(worlddatum.errors.count, "error") %> prohibited this worlddatum from being saved:</h2>

      <ul>
      <% worlddatum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Continent %>
    <%= form.text_field :Continent %>
  </div>

  <div class="field">
    <%= form.label :Country %>
    <%= form.text_field :Country %>
  </div>

  <div class="field">
    <%= form.label :Population %>
    <%= form.number_field :Population %>
  </div>

  <div class="field">
    <%= form.label :Population_Density %>
    <%= form.number_field :Population_Density %>
  </div>

  <div class="field">
    <%= form.label :Uban_pop %>
    <%= form.number_field :Uban_pop %>
  </div>

  <div class="field">
    <%= form.label :Uban_pop_coastal %>
    <%= form.number_field :Uban_pop_coastal %>
  </div>

  <div class="field">
    <%= form.label :GDP_per_capita %>
    <%= form.number_field :GDP_per_capita %>
  </div>

  <div class="field">
    <%= form.label :Land_Area %>
    <%= form.number_field :Land_Area %>
  </div>

  <div class="field">
    <%= form.label :Cropland %>
    <%= form.number_field :Cropland %>
  </div>

  <div class="field">
    <%= form.label :Pasture %>
    <%= form.number_field :Pasture %>
  </div>

  <div class="field">
    <%= form.label :Water_per_capita %>
    <%= form.number_field :Water_per_capita %>
  </div>

  <div class="field">
    <%= form.label :Commercial_Energy_Consumption %>
    <%= form.number_field :Commercial_Energy_Consumption %>
  </div>

  <div class="field">
    <%= form.label :Traditional_Fuel_Consumption %>
    <%= form.number_field :Traditional_Fuel_Consumption %>
  </div>

  <div class="field">
    <%= form.label :Commercial_Hydroelec_Consumption %>
    <%= form.number_field :Commercial_Hydroelec_Consumption %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
