<p id="notice"><%= notice %></p>

<p>
  <strong>Continent:</strong>
  <%= @worlddatum.Continent %>
</p>

<p>
  <strong>Country:</strong>
  <%= @worlddatum.Country %>
</p>

<p>
  <strong>Population:</strong>
  <%= @worlddatum.Population %>
</p>

<p>
  <strong>Population density:</strong>
  <%= @worlddatum.Population_Density %>
</p>

<p>
  <strong>Uban pop:</strong>
  <%= @worlddatum.Uban_pop %>
</p>

<p>
  <strong>Uban pop coastal:</strong>
  <%= @worlddatum.Uban_pop_coastal %>
</p>

<p>
  <strong>Gdp per capita:</strong>
  <%= @worlddatum.GDP_per_capita %>
</p>

<p>
  <strong>Land area:</strong>
  <%= @worlddatum.Land_Area %>
</p>

<p>
  <strong>Cropland:</strong>
  <%= @worlddatum.Cropland %>
</p>

<p>
  <strong>Pasture:</strong>
  <%= @worlddatum.Pasture %>
</p>

<p>
  <strong>Water per capita:</strong>
  <%= @worlddatum.Water_per_capita %>
</p>

<p>
  <strong>Commercial energy consumption:</strong>
  <%= @worlddatum.Commercial_Energy_Consumption %>
</p>

<p>
  <strong>Traditional fuel consumption:</strong>
  <%= @worlddatum.Traditional_Fuel_Consumption %>
</p>

<p>
  <strong>Commercial hydroelec consumption:</strong>
  <%= @worlddatum.Commercial_Hydroelec_Consumption %>
</p>

<%= link_to 'Edit', edit_worlddatum_path(@worlddatum) %> |
<%= link_to 'Back', worlddata_path %>
