 <%=link_to 'World Map', home_index_path%>
<table>
  <thead>
    <tr>
      <th>Continent</th>
      <th>Country</th>
      <th>Population</th>
      <th>Population density</th>
      <th>Urban population</th>
      <th>Urban population coastal</th>
      <th>Gdp per capita</th>
      <th>Land area</th>
      <th>Cropland area</th>
      <th>Pasture area</th>
      <th>Water per capita</th>
      <th>Commercial energy consumption</th>
      <th>Traditional fuel consumption</th>
      <th>Commercial hydroelectric consumption</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @continents.each do |continent| %>
      <tr>
        <td><%= continent.Continent %></td>
        <td><%= continent.Country %></td>
        <td><%= continent.Population %></td>
        <td><%= continent.Population_density %></td>
        <td><%= continent.Urban_population %></td>
        <td><%= continent.Urban_population_coastal %></td>
        <td><%= continent.GDP_per_capita %></td>
        <td><%= continent.Land_area %></td>
        <td><%= continent.Cropland_area %></td>
        <td><%= continent.Pasture_area %></td>
        <td><%= continent.Water_per_capita %></td>
        <td><%= continent.Commercial_energy_consumption %></td>
        <td><%= continent.Traditional_fuel_consumption %></td>
        <td><%= continent.Commercial_hydroelectric_consumption %></td>
        <td><%= link_to 'Show', continent %></td>
        <td><%= link_to 'Edit', edit_continent_path(continent) %></td>
        <td><%= link_to 'Destroy', continent, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'New Continent', new_continent_path %>